/*  MISC */
/* Colors  */
/* Spacings - Espaciados */
/* Creo clases utilitarias pad-xxx */
.pad-large {
  padding: 6rem; }

.pad-medium {
  padding: 3rem; }

.pad-small {
  padding: 2rem; }

.pad-xsmall {
  padding: 1rem; }

/* Font Family */
/* Font sizes */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

html {
  font-size: 62,5%;
  color: #FE5F55; }

/*  MPARTIALS */
.nav-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 6px 20px;
  margin-left: 10px;
  background-color: #0093ff;
  color: white; }
  .nav-item a {
    color: white;
    text-decoration: none; }

.footerbox {
  display: flex;
  flex-direction: column;
  justify-content: self-start;
  align-items: stretch;
  gap: 1rem; }

.footermenu {
  list-style-type: none; }

/*  VIEWS */
/* @import "./views/xxx";
@import "./views/yyy";

/*Mediaqueries */
@media (max-width: 720px) {
  .logo {
    max-width: 200; }
  .catlateral {
    height: 100%; }
  .contacto {
    width: 300px; }
    .contacto textarea {
      width: 260px; } }

#listaProductos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem; }
  #listaProductos .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
    background-color: #C7EFCF;
    /* font-family: $font-principal; */
    flex-basis: 15%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 250px;
    max-width: 330px;
    transition: transform .7s;
    /*    &:hover {transform: scale(1.1, 1.1)}   */ }
    #listaProductos .card img {
      padding: 1 rem; }
    #listaProductos .card .artDescri {
      color: blue;
      min-height: 60px; }
    #listaProductos .card .artPrecio {
      background-color: aqua;
      align-self: end;
      margin-bottom: 0;
      padding-bottom: 0; }
    #listaProductos .card .artDesc {
      align-self: end;
      margin-top: 0;
      padding-top: 0; }

.botonComprar, .botonEnviar, .botonFiltro {
  border: 0;
  line-height: 2.3;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #0000dc;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  width: 130px;
  align-self: end; }

.botonComprar:hover, .botonEnviar:hover, .botonFiltro:hover {
  background-color: blue; }

.botonEnviar {
  width: 150px;
  align-items: end; }

.botonFiltro {
  width: 100px;
  margin: 0px 10px; }

.btnEliminarx {
  width: 20px;
  height: 20px;
  align-items: end; }

#pedidoContainer {
  display: flex;
  gap: 5px; }
  #pedidoContainer #pedido {
    width: 600px;
    align-self: center;
    margin: auto; }
    #pedidoContainer #pedido #titulo {
      background-color: #333745;
      color: #C7EFCF;
      text-align: center;
      font-family: "Libre Baskerville", serif; }
    #pedidoContainer #pedido #cuerpo {
      background-color: #C7EFCF;
      align-items: center; }
      #pedidoContainer #pedido #cuerpo #tituloPedido {
        background-color: blue;
        color: yellowgreen; }

.itemPedido {
  max-width: 700;
  padding-left: 2px;
  padding-right: 2px;
  align-items: center; }

.itemCantidad, .itemPrecio {
  align-content: right; }

#botonesFiltro {
  background-color: #c3dfdf;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px; }
