.nav-item {font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px 20px;
    margin-left: 10px;
    background-color: #0093ff;color: white;

    a {color:white; text-decoration: none;}

    }