#tarjetas {
    @include flex(row,flex-start, stretch, map-get($spacings,'xsmall') );
    
    .card {
        @include flex(column,flex-start, stretch, map-get($spacings,'xsmall')/2 );

        background-color: $color-base;
        flex-basis: 15%;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 250px;
        max-width: 330px;
        transition: transform .7s; 

/*         &:hover {transform: scale(1.1, 1.1)}   */

        img {
            padding: 1 rem;
        }
        .artDescri {
            color: blue;
        }
        .artPrecio {
            background-color: aqua;
        }
        
        .botonComprar {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgba(0, 0, 220, 1);
            background-image: linear-gradient(to top left,
                                              rgba(0, 0, 0, .2),
                                              rgba(0, 0, 0, .2) 30%,
                                              rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
        }
        .botonComprar:hover {
                background-color: rgba(0, 0,255, 1);
        }
        
    }
}





