@media (max-width:720px) {
    .logo {
        max-width: 200;
    }
    .catlateral {
        height: 100%;
    }

    .contacto {
        width: 300px;
        textarea {
            width: 260px
        }
    }

}

